  .container {
 	display: block;
 	position: relative;
 	border: 3px solid #ff6666;
 	height: 450px;
 	width: 420px;
 	margin: 80px auto;
 	border-radius: 5px;
 }
 .screen {
 	display: block;
 	margin: 30px auto;
 	margin-bottom: 20px;
 	height: 100px;
 	width: 350px;
 	border: solid 3px #ff6666;
 	border-radius: 5px;
 	background-color: #ff6666;
 	overflow-x:auto;
 }
 
 p{
 	margin: 0px;
 	height: 100px;
 	line-height: 100px;
 	padding-left: 5px;
 	padding-right: 5px;
 	font-size: 40px;
 	font-family: Cursive;
 	color: white;
 }
.maincontainer {
	width: 350px;
	margin: 10px auto;
}
 .number{
 	float: left;
 	width: 230px;
 }
 button {
 	cursor: pointer;
 	color: #ff6666;
 	background-color: white;
 	border: solid 3px #ff6666;
 	border-radius: 5px;
 	display: inline-block;
 	width: 70px;
 	height: 40px;
 	margin-top: 10px;
 	font-family: Cursive;
 	font-size: 18px;
 	outline: 0;
 }
 button:active{
	color: white;
	background-color: #ff6666;
	outline: 0;
 }
 #heart {
 	width: 228px;
 }
 .notnumber {
	float: right;
	width: 115px;
	padding-top: 0px;
	padding-bottom: 0px;
 }
 .notnumber button {
 	width: 52px;
 	height: 91px;
 }
 #equal {
 	width: 110px;
 	height: 40px;
 }
#themeButton {
 	position: absolute;
 	display: block;
 	top:10px;
 	right: 10px;
 	width: 20px;
 	height: 20px;
 	border:0;
 	padding: 0;
 	margin: 0;
 	border-radius: 50%;
 	background: #ff6666;
 }


 